
.container-root{
    overflow-x: hidden;
    background: linear-gradient(#ffffff, #fff4ee);
}

.homepage-sector-1{
    height: 100dvh;
    width: 100dvw;
}

.headerformsvgcircle{
    position: absolute;
    z-index: 0;
}

.upperelementheader{
    z-index: 10;
}

.comicsansms{
    font-family: "Comic Sans MS";
}

.cooperblack{
    font-family: "Cooper Black";
}

.testclasslogo{
    position: absolute;
    right: 300px;
    top: 180px;
}

.textadhcpts{
    font-size: 25px;
}