.homepagedesign004{
    position: absolute;
    flex-shrink: 0;
    fill: rgba(242, 238, 44, 0.33);
    fill: rgba(242, 238, 44, 0.33);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}